In [ ]:

# @hidden_cell
# The following code contains the credentials for a connection in your Project.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
db2_shared_credentials = project.get_connection(name="db2-shared")

In [ ]:

import pandas as pd

df_data_1 = pd.read_csv('/project_data/data_asset/historical_student_rentention_data_csv_pdof8fcyo203klvy9kq3vdc1.csv')
df_data_1.head()

In [2]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
STUDENT_PERSON_DETAILS_credentials = project.get_connected_data(name="STUDENT_PERSON_DETAILS")

import os, jaydebeapi, pandas as pd

STUDENT_PERSON_DETAILS_port = STUDENT_PERSON_DETAILS_credentials.get('port', 50000)

STUDENT_PERSON_DETAILS_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    STUDENT_PERSON_DETAILS_credentials['host'],
    STUDENT_PERSON_DETAILS_port,
    STUDENT_PERSON_DETAILS_credentials['database']
)

if(STUDENT_PERSON_DETAILS_credentials.get('ssl','false') == 'true'):
    STUDENT_PERSON_DETAILS_connect_string = STUDENT_PERSON_DETAILS_connect_string + ':sslConnection=true;'
    if STUDENT_PERSON_DETAILS_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'STUDENT_PERSON_DETAILS_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(STUDENT_PERSON_DETAILS_credentials['ssl_certificate'])
        f.close()
        STUDENT_PERSON_DETAILS_connect_string = STUDENT_PERSON_DETAILS_connect_string + 'sslCertLocation=' + cert_file_path + ';'

STUDENT_PERSON_DETAILS_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    STUDENT_PERSON_DETAILS_connect_string,
    [STUDENT_PERSON_DETAILS_credentials['username'],STUDENT_PERSON_DETAILS_credentials['password']]
)

# In the following query, the schema and table name are in quotes in order to support case-sensitive names or labels
query = 'SELECT SSN, GENDER, STATE FROM "EDW"."STUDENT_PERSON_DETAILS"'
# If your database does not support case-sensitive names or quoted names, you can use the following query:
#query = 'SELECT * FROM EDW.STUDENT_PERSON_DETAILS'

data_df_1 = pd.read_sql(query, con=STUDENT_PERSON_DETAILS_connection)
data_df_1.head()

# Close the database connection with the following code:
# STUDENT_PERSON_DETAILS_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

           SSN GENDER STATE
0  675-10-2525     f     IL
1  222-74-5445     m     IL
2  050-78-0299     f     PR
3  452-84-6524     m     WI
4  387-54-9393     m     WI